<%= bootstrap_form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.date_select :date %>
  <%= form.collection_select :service_type_id, ServiceType.all, :id, :name, prompt: true %>
  <%= form.submit %>
<% end %>
