<p id="notice"><%= notice %></p>

<h1><%= @service.service_type.name %> - <%= @service.date %></h1>

<h2>Songs <%= link_to '+', new_service_song_path(service_id: @service.id) %></h2>
<p></p>
<p></p>
<table>
  <tbody class="sortable">  <!-- sortable target -->
    <% @service.service_songs.order(:sort).each_with_sortable_id do |item, sortable_id| %>
      <tr id="<%= sortable_id %>">  <!-- Needs id tag on sorting elements -->
        <td><strong><%= item.song.page_number %></strong></td>
        <td> - </td>
        <td><%= item.song.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p></p>
<p></p>
<h2>Specials <%= link_to '+', new_special_path %></h2>
<p></p>
<p></p>
<p></p>
<ul>
  <% @service.specials.each do |special| %>
    <li>
      <%= special.singer.full_name %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
