<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @service.date %>
</p>

<p>
  <strong>Service type:</strong>
  <%= @service.service_type.name %>
</p>

<h2>Songs</h2>
<p><%= link_to 'Add', new_service_song_path(service_id: @service.id) %></p>
<ul>
  <% @service.songs.each do |song| %>
    <li>
      <%= song.name %>
    </li>
  <% end %>
</ul>

<h2>Specials</h2>
<p><%= link_to 'Add', new_special_path %></p>
<ul>
  <% @service.specials.each do |special| %>
    <li>
      <%= special.singer.full_name %>
    </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
