<%= bootstrap_form_with(model: service_song, local: true) do |form| %>
  <% if service_song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_song.errors.count, "error") %> prohibited this service_song from being saved:</h2>

      <ul>
      <% service_song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.collection_select :service_id, Service.all, :id, :label, prompt: true %>
  <%= form.collection_select :song_id, Song.all, :id, :name, prompt: true %>
  <%= form.collection_select :service_song_type_id, ServiceSongType.all, :id, :name, prompt: true %>
  <%= form.submit %>
<% end %>
