<p id="notice"><%= notice %></p>

<h1>Service Songs</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Song</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_songs.each do |service_song| %>
      <tr>
        <td><%= service_song.service %></td>
        <td><%= service_song.song %></td>
        <td><%= link_to 'Show', service_song %></td>
        <td><%= link_to 'Edit', edit_service_song_path(service_song) %></td>
        <td><%= link_to 'Destroy', service_song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Song', new_service_song_path %>
