<p id="notice"><%= notice %></p>

<h1>Service Song Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @service_song_types.each do |service_song_type| %>
      <tr>
        <td><%= service_song_type.name %></td>
        <td><%= link_to 'Show', service_song_type %></td>
        <td><%= link_to 'Edit', edit_service_song_type_path(service_song_type) %></td>
        <td><%= link_to 'Destroy', service_song_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Song Type', new_service_song_type_path %>
